<div class="col s12">
    <div class="card rounded color-surface none">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.five_ways_to_wellbeing</span>
            <p class="text-color-secondary">@Resources.Strings_GB.five_ways_to_wellbeing_description</p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card rounded color-surface connect">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.wellbeing_connect</span>
            <p class="text-color-secondary">@Resources.Strings_GB.wellbeing_connect_description</p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card rounded color-surface be-active">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.wellbeing_be_active</span>
            <p class="text-color-secondary">@Resources.Strings_GB.wellbeing_be_active_description</p>
        </div>
    </div>
</div>
<div class="col s12">

    <div class="card rounded color-surface keep-learning">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.wellbeing_keep_learning</span>
            <p class="text-color-secondary">@Resources.Strings_GB.wellbeing_keep_learning_description</p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card rounded color-surface take-notice">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.wellbeing_take_notice</span>
            <p class="text-color-secondary">@Resources.Strings_GB.wellbeing_take_notice_description</p>
        </div>
    </div>
</div>
<div class="col s12">
    <div class="card rounded color-surface give">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.wellbeing_give</span>
            <p class="text-color-secondary">@Resources.Strings_GB.wellbeing_give_description</p>
        </div>
    </div>
</div>
